/* ------------------------ */
/*          navbar          */
/* ------------------------ */

nav {
    padding: 0.7rem;
    height: 10vh;
    margin-right: 1.5rem;
  
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2.5rem;
      list-style-type: none;
      font-size: 1.5rem;
      font-weight: 500;
  
      a {
        text-decoration: none;
        color: #eee;
  
        &:hover {
          color: rgb(26, 26, 239);
          transition: all 1s ease;
        }
      }
  
      .nav--active {
        color: purple;
      }
    }
  }
  